<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Vue Todo</title>
</head>
<body>
    <div class="container" id="app">
        <div class="card">
            <div class="logo">
                <img :src="img" alt="">
                <h1></h1>
            </div>
            <div class="addList">
                <form @submit.prevent="addTodo">
                    <input v-model="newTodo" type="text" required minlength="4">
                    <button class="add" type="submit" name="add">ADD</button>
                </form>
            </div>
            <h2>Todo List</h2>
            <!-- Da mostrare dinamicamente -->
        <div v-if="arrTodo.length != 0">
           <div v-for="(todo,index) in arrTodo">
               <div v-if="todo.done === false">
                      <div class="list">
                   <i class="far fa-check-circle" @click="isDone(index)"></i>
                  <div v-if="todo.isEditable === true">
                      <input v-model="modTodo" type="text" required minlength="4"
                      v-on:keyup.enter="onEdit(index,modTodo)" placeholder="">
                      Change and press Enter
                  </div>
                  <div v-if="todo.isEditable === false">
                      <p >{{todo.title}}</p>
               </div>
                   <i class="far fa-edit" @click="isEditable(index)"></i>
                </div>
            </div>
        </div>
    </div> 
    <div v-if="arrTodo.length === 0">
        <p class="nulla">Nothing to do</p>
    </div>
    
    <h2>Completed</h2>
    <div v-for="(todo,index) in arrTodo">
        <div v-if="todo.done === true">
            <div class="list">
                <i class="fas fa-chevron-up" @click="isNotDone(index)"></i>
                <p >{{todo.title}}</p>
                <i class="fas fa-times" @click="remove(index)"></i>
                </div>
            </div>
        </div>
        <div v-if="arrTodo.length === 0">
            <p class="nulla">Nothing to do</p>
        </div>
    </div>
    </div>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- JS -->
    <script src="assets/app.js"></script>
</body>
</html>